.color.color {
    background-color: #00092D;
    font-family: Flama-Basic,sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    /* padding: 4px 30px 4px 30px;
    box-sizing: border-box;
    text-align: center;  */
    cursor: pointer;
}

.icon {
    padding: 4px 0px 6px 60px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}